type {{properCase name}}Props = {
    // Add your component props here
}

const {{properCase name}}: React.FC<{{properCase name}}Props> = ({}) =>{
    return (
        <div>
            {{properCase name}} 
        </div>
    )
}

export default {{properCase name}};